[build-system]
requires = ["setuptools>=45", "wheel", "setuptools_scm"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "dbtmetabase/_version.py"

[tool.black]
line-length = 88
target-version = ['py36', 'py37', 'py38']
include = '\.pyi?$'

[tool.mypy]
python_version = "3.8"

[[tool.mypy.overrides]]
module = ["dbtmetabase"]
ignore_missing_imports = true

[tool.pylint.master]
disable = ["R", "C"]
