version: "3"

name: dbt-metabase-sandbox

services:
  postgres:
    image: postgres:16
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-}
      - POSTGRES_DB=${POSTGRES_DB:-}
    ports:
      - ${POSTGRES_PORT}:5432
    networks:
      - common
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: always

  metabase:
    image: metabase/metabase:latest
    environment:
      - MB_SETUP_TOKEN=${MB_SETUP_TOKEN:-}
    ports:
      - ${MB_PORT}:3000
    networks:
      - common
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:3000/api/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    # volumes:
    #   - ../metabase-app:/app
  
  app:
    image: mcr.microsoft.com/devcontainers/python:1-3.11-bullseye
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-}
      - POSTGRES_DB=${POSTGRES_DB:-}
      - POSTGRES_SCHEMA=${POSTGRES_SCHEMA:-}
      - POSTGRES_PORT=${POSTGRES_PORT:-}
      - POSTGRES_HOST=postgres
      - MB_SETUP_TOKEN=${MB_SETUP_TOKEN:-}
      - MB_USER=${MB_USER:-}
      - MB_PASSWORD=${MB_PASSWORD:-}
      - MB_PORT=${MB_PORT:-}
      - MB_HOST=metabase
    networks:
      - common
    volumes:
      - ..:/app
    command: /bin/sh -c "while sleep 1000; do :; done"
    depends_on:
      postgres:
        condition: service_healthy
      metabase:
        condition: service_healthy

networks:
  common:
