on:
  pull_request:
    branches:
      - master

jobs:
  run:
    runs-on: ubuntu-latest
    name: run
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - uses: nanasess/setup-chromedriver@master

      - name: Requirements
        run: make requirements

      - name: Test
        run: make test
